---
import PillShapeLink from "../components/PillShapeLink.astro";
import ServiceCard from "../components/ServiceCard.astro";
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
import ReportsSection from "../components/ReportsSection.astro";
import InTrendIsConnectedRing from "../svgs/InTrendIsConnectedRing.astro";
import ComingSoonSection from "../components/ComingSoonSection.astro";
---

<Layout title="In Trend - Our Services">
  <NavigationBar variant="beige" />

  <section class="bg-beige-300">
    <h1
      class="pt-20 text-center text-2xl font-semibold capitalize tracking-wide text-brown-600 sm:pt-32 sm:text-3xl"
    >
      Our services
    </h1>
    <p
      class="mx-auto mt-4 max-w-6xl px-4 text-center text-3xl leading-11 tracking-wide text-brown-600 sm:text-4xl sm:leading-relaxed"
    >
      We offer bespoke product and services analysis across aesthetic medicine
      <img
        class="inline-block h-8 w-24 rounded-full object-cover sm:h-10 sm:w-28"
        src=`${import.meta.env.BASE_URL}images/our-services/paragraph/medicine.jpg`
        alt=""
      />, make-up
      <img
        class="inline-block h-8 w-24 rounded-full object-cover sm:h-10 sm:w-28"
        src=`${import.meta.env.BASE_URL}images/our-services/paragraph/make-up.jpg`
        alt=""
      />, skincare, <br class="hidden xl:block" />hair
      <img
        class="inline-block h-8 w-24 rounded-full object-cover sm:h-10 sm:w-28"
        src=`${import.meta.env.BASE_URL}images/our-services/paragraph/hair.jpg`
        alt=""
      />, wellness, fragance, packaging, nails
      <img
        class="inline-block h-8 w-24 rounded-full object-cover sm:h-10 sm:w-28"
        src=`${import.meta.env.BASE_URL}images/our-services/paragraph/nails.jpg`
        alt=""
      />, bodycare, salon and spa.
    </p>

    <!-- TODO: add horizontal padding -->
    <div class="mx-auto max-w-screen-2xl px-4 sm:px-12">
      <div class="mt-14 grid lg:grid-cols-3 lg:gap-24">
        <div class="lg:col-span-2">
          <ServiceCard
            title="Beauty tracking"
            description="Need to stay on top of new launches? Our extensive product database and social media monitoring provides our strategists with the perfect tools to analyse what is happening in your category. We provide you with the curated insights you need."
          />
          <ServiceCard
            title="Beauty forecasting"
            description="Need to know what's next? In-Trend's creative minds identify visionary white space opportunities driven via cross-category innovations and consumer sentiment. We are committed to ensuring your company stays ahead of the curve."
          />
          <ServiceCard
            title="Ideation workshops"
            description="Let us be your product development partners. Play with new products, experience their textures and finishes, be inspired by their packaging. In these creative workshops, we create the recipe for the next beauty must-have."
          />
          <ServiceCard
            title="Membership"
            description="Like the look of everything? Get in touch for our membership options. We can create the perfect mix you can switch about as you wish."
          />
        </div>
        <img
          src=`${import.meta.env.BASE_URL}images/our-services/main.jpg`
          alt=""
          class="hidden rounded-3xl lg:block"
        />
      </div>
    </div>

    <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
      <div class="mt-10 pb-16">
        <div
          class="grid overflow-hidden rounded-2xl border border-brown-600/20 p-4 lg:flex lg:items-center lg:gap-4 lg:p-0 lg:pr-8"
        >
          <!-- TODO: change margins to flex gaps? -->
          <!-- TODO: fix left border radius bug -->
          <!-- TODO: (IMPORTANT) add the calendly URL link -->
          <img
            src=`${import.meta.env.BASE_URL}images/our-services/get-in-touch.jpg`
            alt=""
            class="w-full rounded-l-3xl rounded-r-full lg:h-28 lg:w-auto"
          />
          <p class="mt-6 text-sm font-bold text-brown-600 lg:mt-0">
            Can't see what you're looking for? <br />
            Get in touch - let us inspire you!
          </p>
          <div class="mt-6 lg:ml-auto lg:mt-0">
            <PillShapeLink title="Get in touch" variant="dark" href="#" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <ReportsSection />

  <div>
    <div class="grid gap-[100vh] pt-[calc(51vh)] sm:pt-[calc(50vh)]">
      <p class="fade-in-out px-4 text-center">
        <span class="uppercase text-white 2xl:text-xl">
          We're in the loop about:
        </span><br />
        <span class="font-bold uppercase text-white 2xl:text-xl">
          start-ups and incubators
        </span>
      </p>
      <p class="fade-in-out px-4 text-center">
        <span class="uppercase text-white 2xl:text-xl"> We attend:</span><br />
        <span class="font-bold uppercase text-white 2xl:text-xl">
          trade shows + conferences
        </span>
      </p>
      <p class="fade-in-out px-4 text-center">
        <span class="uppercase text-white 2xl:text-xl"> We talk to:</span><br />
        <span class="font-bold uppercase text-white 2xl:text-xl">
          professionals / experts
        </span>
      </p>
      <p class="fade-in-out px-4 text-center">
        <span class="uppercase text-white 2xl:text-xl"> We analyze:</span><br />
        <span class="font-bold uppercase text-white 2xl:text-xl">
          social media
        </span>
      </p>
      <p class="fade-in-out px-4 text-center">
        <span class="uppercase text-white 2xl:text-xl">
          We have an extensive database:</span
        ><br />
        <span class="font-bold uppercase text-white 2xl:text-xl">
          product | services
        </span>
      </p>
    </div>

    <!-- TODO: 1.5rem changes to 2rem -->
    <!-- TODO: add meaningful comments to this -->
    <section
      class="sticky bottom-0 -z-10 flex h-[calc(100vh-1.25rem-1.25rem-1.5rem)] flex-col justify-center bg-gradient-radial from-carrot-600 from-5% via-carrot-400 via-45% to-carrot-200 to-100% px-4 md:h-[calc(100vh-1.25rem-1.25rem-2rem)]"
    >
      <h2
        class="pt-12 text-center font-big-caslon text-2xl font-light capitalize text-white md:text-4xl"
      >
        In Trend is connected
      </h2>
      <p
        class="mx-auto mt-2 max-w-xl text-center text-xs leading-relaxed text-white md:mt-4"
      >
        The In-Trend LTD family is a dedicated and dynamic global team with
        proven expertise. We are fed in roots of information, and turn them into
        blooming trees of inspiration.
      </p>
      <div
        class="is-connected-ring mx-auto mt-6 flex max-h-[576px] w-full max-w-xl flex-grow flex-col pb-12"
      >
        <InTrendIsConnectedRing class="w-full flex-grow text-white" />
      </div>
    </section>
  </div>

  <ComingSoonSection />
  <!-- TODO: enable this when required -->
  <!-- <ExpertQASection /> -->

  <Footer />
</Layout>

<style>
  .fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    window.addEventListener("scroll", fadeOnScroll);

    function fadeOnScroll() {
      const scrollPos = window.scrollY + window.innerHeight;
      const elements = document.querySelectorAll(".fade-in-out");
      const connectedRingElement = document.querySelector(".is-connected-ring");

      // Get the top and bottom position of the .is-connected-ring element
      const ringTop =
        connectedRingElement.getBoundingClientRect().top + window.scrollY;
      const ringBottom = ringTop + connectedRingElement.offsetHeight;

      // Create a 10% boundary for fading in and out
      const boundary = connectedRingElement.offsetHeight * 0.1;

      // Reduce the boundaries of the .is-connected-ring by 20%
      const boundaryReduction = connectedRingElement.offsetHeight * 0.2;

      const fadeStart = ringTop + boundary + boundaryReduction;
      const fadeEnd = ringBottom - boundary - boundaryReduction;

      elements.forEach((el) => {
        const elementTop = el.getBoundingClientRect().top + window.scrollY;
        const elementBottom = elementTop + el.offsetHeight;

        // Check if the element is within the bounds of the .is-connected-ring
        if (ringTop <= elementBottom && ringBottom >= elementTop) {
          // Element is within the ring
          if (elementBottom > fadeStart && elementTop < fadeEnd) {
            // Element is within the fade boundaries - full opacity
            el.style.opacity = "1";
          } else {
            // Element is within the fade boundaries - fading in or out
            el.style.opacity = "0.5";
          }
        } else {
          // Element is not within the ring - full transparency
          el.style.opacity = "0";
        }
      });
    }
  });
</script>
