---
import ReportCard from "./ReportCard.astro";

export type Props = {
  onlyShowOnLg?: boolean;
};

const { onlyShowOnLg } = Astro.props;
---

<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/06-maca-min.png"
      sectionTitle="Expert Interview"
      title="Interview With Maca Barrera"
      description="In-Trend had the privilege of interviewing Biodesign consultant and sustainability innovator, Maca Barrera, to delve into her work in sustainable UV protection."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/06-maca.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/05-ifeyinwa-min.png"
      sectionTitle="Expert Interview"
      title="Interview With Ifeyinwa Lauretta"
      description="In-Trend recently sat down with Ifeyinwa Lauretta Ihonor, a medical doctor turned alternative medicine expert and the visionary founder of 8 Within. Her unique apothecary offers ceremonial-grade cacao, meticulously hand-blended with powerful mood-boosting plant extracts and unique herbal tinctures from ancient plant medicines. 8 Within is more than just a wellness brand. It’s a tapestry of cross-culturally sourced plant medicines and practices, creating next-generation products that aim to expand consciousness and elevate the mind."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/05-ifeyinwa.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/04-nika-min.png"
      sectionTitle="Expert Interview"
      title="Interview With Nika Amrbozic"
      description="At IMCAS, we had the pleasure of meeting @Nika Ambrozic - make-up artist and education advocate.  Nika has recently collaborated with derma brand Sensilis on industry-disrupting extensive 'Make-up Bibles' that promote the importance of hyper-targeting make-up routines towards an individual's skin concerns, especially post-professional services. We sat down again with Nika to further discuss this topic, slow beauty, as well as many more topics impacting the future of the make-up category."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/04-nika.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/03-roy-min.png"
      sectionTitle="Expert Interview"
      title="Interview With Roy Cowley"
      description="Recently, the In-Trend Aesthetic Medicine team had the privilege of interviewing Roy Cowley, the innovative Founder and Managing Director of 3D Aesthetics. His company is at the forefront of non-surgical aesthetic technology, developing multi-technology platform devices and comprehensive skincare solutions. To learn more, click through to read the full interview."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/03-roy.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/02-shin-min.png"
      sectionTitle="Expert Interview"
      title="Interview With Shin Watanabe"
      description="An interactive touchscreen interface designed to intuitively guide consumers through the journey of purchasing fragrance. Leveraging natural language processing AI, it invites users to describe their scent preferences with evocative terms like romantic, unique, and energetic."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/02-shin.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/01-sifat-min.png"
      sectionTitle="Expert Interview"
      title="Interview With Sifat Khurana"
      description="Back in December we spoke with Sifat Khurana, co-founder of leading Indian suncare brand, SunScoop. SPF Amidst India's suncare boom, our conversation highlights the specific desires of its consumers and the vital quest for SPF and ingredient education. For more information on Innovist's brand click here."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/01-sifat.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/vb-interview.jpg"
      sectionTitle="Expert Interview"
      title="Interview With Victor Bechara"
      description="Our recent expert interview was with Brazilian dermatologist and aesthetic clinic owner, Victor Bechara. His soft sculpting approach brings forth a new era of dermatology in the country famed for its aesthetic protocols."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/vb-interview.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/latest-beauty-trends.jpg"
      sectionTitle="Out and About"
      title="Cosmoprof India"
      description="Last week, In-Trend had a blast discovering the latest beauty trends and connecting with industry innovators at Cosmoprof India. Swipe through to read some of our key insights from the event."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/latest-beauty-trends.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <ReportCard
      imgSrc="/images/index/reports/mitra-bio.jpg"
      sectionTitle="Innovator Spotlight"
      title="Company Profile"
      description="We're always in the loop about the next up-and-coming beauty innovators and start-ups. Meet Mitra bio the first DNA skin testing that is non-invasive, user-friendly, affordable and ready to be used at home. With an easy-to-use tape that replaces invasive biopsies and a data platform that develops predictive biomarkers, Mitra bio is the future of personalised treatment plans. Want to learn more about the next up-and-coming beauty market players? Drop us an email today."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/mitra-bio.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <!-- TODO: host the PDF file on github -->
    <ReportCard
      imgSrc="/images/index/reports/Sample-WNISalon.jpg"
      sectionTitle="Report"
      title="The Future of Salon"
      description="The hair salon of the future will be a place for entertainment, health and community. Discover the industry-leading salon concepts and treatments in our Future of Salon report, available now. Swipe for a sneak peek."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/Sample-WNISalon.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
    <!-- TODO: host the PDF file on github -->
    <ReportCard
      imgSrc="/images/index/reports/whats-up-haircare.jpg"
      sectionTitle="Report"
      title="What’s Up in Haircare?"
      description="Want to be in the know about the latest haircare macro and product trends? Our What's Up in Haircare analyzes all global product launches to create product recommendations specific to your product development or marketing needs. Download a snippet of the report here and get in touch for more information."
      hasLink={true}
      linkTitle="Download pdf"
      href="/pdfs/whats-up-haircare.pdf"
    />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/luxepack.jpg"
    sectionTitle="Out and about"
    title="In-Trend in LUXEPACK, Monaco"
    description="That's a wrap! The In-Trend team has had a great time attending LUXEPACK Monaco this week. Keep an eye out in the upcoming days, for more inspirational packaging and information on Glen's talk."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.linkedin.com/feed/update/urn:li:activity:7115356284773625858"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/germany-presentation.jpg"
    sectionTitle="Out and about"
    title="In-Trend's Germany Presentation on Textured Hair Market Opportunities"
    description="For the next two days, In-Trend will be in Germany presenting alongside industry experts on the missed opportunities in the textured hair market."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.linkedin.com/feed/update/urn:li:activity:7113145392803770368"
  />
</div>

<style>
  .onlyShowOnLg {
    display: none;
  }

  @media (min-width: 1024px) {
    .onlyShowOnLg {
      display: block;
    }
  }
</style>
