---
import ReportCard from "./ReportCard.astro";

export type Props = {
  onlyShowOnLg?: boolean;
};

const { onlyShowOnLg } = Astro.props;
---

<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/germany-presentation.jpg"
    sectionTitle="Out and about"
    title="In-Trend's Germany Presentation on Textured Hair Market Opportunities"
    description="For the next two days, In-Trend will be in Germany presenting alongside industry experts on the missed opportunities in the textured hair market."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.linkedin.com/feed/update/urn:li:activity:7113145392803770368"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/back-2-hair-school.jpg"
    sectionTitle="Out and about"
    title="Back 2 Hair School"
    description="There’s no doubt that the Hair market is booming at the moment, with hairstyling products replacing lipstick as the UK’s affordable recession treat. This month, we’ve gone back to hair school with some of our amazing clients! In this Hair Newsletter we explore the developing consumer demand for color analysis, closing the textured hair gap, full head health and the massification of bonding (to name just a few). Want to learn more? Drop us an email today."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.in-trend-ltd.com/contact-us"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/scan-me-and-listen-to-your-skin.jpg"
    sectionTitle="Out and about"
    title="World Congress of Dermatology in Singapore"
    description="TMary has just returned from an amazing trip to Singapore, where she attended the WCD 2023 congress. Drop us an email if you want to hear some of Mary's favourite brands of the show."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.instagram.com/p/CukMWR_NSms/"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/hashtag-makeup-in-paris.jpg"
    sectionTitle="Out and about"
    title="Make-up in Paris"
    description="That's a wrap! We are very grateful for all the new connections and friends we made at Make-up in Paris."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.instagram.com/p/Cten8anx67b/"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/fast-track-to-aesthetics.jpg"
    sectionTitle="Out and about"
    title="Make-up In Paris Presentation"
    description="Thank you to everyone who came to watch Annie's presentation at @Makeup in Paris. We loved discussing this insightful topic with you all. Drop us an email for the full version."
    hasLink={true}
    linkTitle="Find out more"
    href="/pdfs/fast-track-to-aesthetics.pdf"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <!-- TODO: host the PDF file on github -->
  <ReportCard
    imgSrc="/images/index/reports/the-future-of-lip.jpg"
    sectionTitle="Report"
    title="The Future of Lip"
    description="Having a strong lip portfolio is more important than ever, as this product category proves time and time again its recession-resilience. This report contains emerging textures and finishes, growing ingredients, how to address future lip beautification challenges and trends that will shape the category from 2023 and beyond."
    hasLink={true}
    linkTitle="Download pdf"
    href="/pdfs/in-trend-lip-report-snippet.pdf"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/salon-smart-networking-and-speak-event.jpg"
    sectionTitle="Out and about"
    title="Salon smart networking"
    description="Emmanuelle headed down to Salon Smart last month. A business event for hair professionals, it was great to hear about the challenges hairdressers face, and meet lots of creatives."
    hasLink={true}
    linkTitle="Find out more"
    href="https://creativeheadmag.com/salon-smart-2023-the-event-delivering-proactive-advice-to-drive-your-business-forward/"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <ReportCard
    imgSrc="/images/index/reports/make-up-paris.jpg"
    sectionTitle="Out and about"
    title="Make-up In Paris"
    description="Come and see us at Make-up in Paris! We'll be at booth E36, and Annie will be presenting on June 14th at 1:30pm."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.linkedin.com/posts/anniemegjohnstone_facialcare-aestheticmedicine-beauty-activity-7069684756749115393-98Gb?utm_source=share&utm_medium=member_desktop"
  />
</div>
<div class=`swiper-slide ${onlyShowOnLg && "onlyShowOnLg"}`>
  <!-- TODO: this should match the JS breakpoint at 1024px below -->
  <ReportCard
    imgSrc="/images/index/reports/clean-beauty-in-london.jpg"
    sectionTitle="Out and about"
    title="Clean beauty in london"
    description="Annie spent the day at the Clean Beauty in London show at The Brewery near the Barbican. We loved how much Solid Beauty was on show - it truly has gone from eco-necessity to a product to be enjoyed."
    hasLink={true}
    linkTitle="Find out more"
    href="https://www.instagram.com/p/CroOUUFvvGx/"
  />
</div>

<style>
  .onlyShowOnLg {
    display: none;
  }

  @media (min-width: 1024px) {
    .onlyShowOnLg {
      display: block;
    }
  }
</style>
